<!-- Main navigation bar -->
<div class="navbar-wrapper">
  <div class="container">
    <div class="navbar navbar-expand-lg navbar-dark navbar-static-top" style="background-color:rgb(104, 104, 104);border-radius:50px">
      <img class = "MWlogo" src="/Assets/images/Logo.png" width="50" style="margin-left: 7px;margin-right: 7px;border-radius:50px"/>
      <a class="navbar-brand" href="home">Welcome to Aaron's Page</a>   
      <button class="navbar-toggler" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button> 
      <div class="navbar-collapse collapse">
        <ul class="navbar-nav ml-auto">

          <% if (title == "Home"){ %>
          <li class="nav-item active">
          <% } else  { %>
          <li class="nav-item">
          <% } %>
            <a class="nav-link" href="/home"><i class="fa-sharp fa-solid fa-house-user"></i> Home </a>
          </li>
  
          <% if (title == "About") { %>
          <li class="nav-item active">
          <% } else  { %>
          <li class="nav-item">
          <% } %>
            <a class="nav-link" href="/about"><i class="fa-regular fa-face-meh-blank"></i> About Me </a>
          </li>
  
          <% if (title == "Projects") { %>
          <li class="nav-item active">
          <% } else  { %>
          <li class="nav-item">
          <% } %>
            <a class="nav-link" href="/projects"><i class="fa-solid fa-list-check"></i> Projects </a>
          </li>
  
          <% if (title == "Services") { %>
          <li class="nav-item active">
          <% } else  { %>
          <li class="nav-item">
          <% } %>
            <a class="nav-link" href="/services"><i class="fa-solid fa-hand"></i></i> Services </a>
          </li>
  
          <% if (title == "Contact") { %>
          <li class="nav-item active">
          <% } else  { %>
          <li class="nav-item">
          <% } %>
            <a class="nav-link" href="/contact"><i class="fa-solid fa-id-card"></i> Contact </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<!-- end of main navigation bar-->