<!DOCTYPE html>
<html lang="en">
  <head>
    <% include partials/header.ejs%>
  </head>
  <body>
    <% include partials/main_nav.ejs %>
    <div class="container marketing">
  
      <!-- Three columns of text -->
      <div class="row">
        <div class="col-lg-4">
          <img class="img-circle" src="/assets/images/python.png" style="height: 300px; width: 300px;margin-top: 40px;margin-bottom: 20px;" alt="Generic placeholder image">
          <h2>Python</h2>
          <br>
          <p>I developed a weather tracker using Python back in 2020. This weather tracker can store history and predict future weather. I was the main developer and the development was successful. </p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <img class="img-circle" src="/assets/images/java.png" style="height: 300px; width: 300px; margin-top: 40px;margin-bottom: 20px;" alt="Generic placeholder image">
          <h2>Java</h2>
          <br>
          <p>I devloped an accounting system using Java in 2021. I was the main developer and the development was successful.</p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <img class="img-circle" src="/assets/images/nodejs.png" style="height: 300px; width: 300px;margin-top: 40px;margin-bottom: 20px;" alt="Generic placeholder image">
          <h2>Web Application Development</h2>
          <br>
          <p>I developed this website in 2023.  I was the main developer and the development was successful.</p>
        </div><!-- /.col-lg-4 -->
      </div><!-- /.row -->

    </div><!-- /.container -->

    <% include partials/footer.ejs %>
  </body>
</html>
