<!DOCTYPE html>
<html lang="en">
  <head>
    <% include partials/header.ejs%>
  </head>
  <body>
    <% include partials/main_nav.ejs %>
    <div class="container marketing">
  
      <!-- Three columns of text -->
      <div class="row">
        <div class="col-lg-4">
          <img class="img-circle" src="/assets/images/webdev.png" style="height: 300px; width: 300px;margin-top: 40px;margin-bottom: 20px;" alt="Generic placeholder image">
          <h2>Web development</h2>
          <br>
          <p>I am both a front end and back end developer who can help you design and build your website. </p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <img class="img-circle" src="/assets/images/javadev.png" style="height: 300px; width: 300px; margin-top: 40px;margin-bottom: 20px;" alt="Generic placeholder image">
          <h2>Software development</h2>
          <br>
          <p>I am a java programmer who can help you to develop your desired software.</p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <img class="img-circle" src="/assets/images/dataanalyst.jpeg" style="height: 300px; width: 300px;margin-top: 40px;margin-bottom: 20px;" alt="Generic placeholder image">
          <h2>data analyst</h2>
          <br>
          <p>I am a data analyst who can help you to analyse your data.</p>
        </div><!-- /.col-lg-4 -->
      </div><!-- /.row -->

    </div><!-- /.container -->

    <% include partials/footer.ejs %>
  </body>
</html>
