<!DOCTYPE html>
<html lang="en">
  <head>
    <% include partials/header.ejs%>
  </head>
  <body>
    <% include partials/main_nav.ejs %>

    <!-- Marketing messaging and featurettes-->
    <br>
    <br>
    <div class="container marketing">
      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">Chan Kai Chung - <span class="text-muted">About me.</span></h2>
          <p class="lead">I am a full time student in Centennial College, majoring in software engineering and artificial intelligence. </p>
          <a href="/assets/CV.pdf">View my CV</a>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-responsive" src="/assets/images/me.jpg" style="height: 650px; width: 500px;" alt="Generic placeholder image">
        </div>
      </div>
    </div>
    <% include partials/footer.ejs %>
  </body>
</html>
